@page "/"
@rendermode InteractiveServer
@inject NavigationManager Nav

<PageTitle>Home</PageTitle>

<p>Перенаправление на страницу генерации билетов...</p>

@code {
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            Task.Delay(2 * 1000).Wait();
            Nav.NavigateTo("tickets-generator", true);
        }
    }
}
